#!/bin/bash
 
module load modules/2.0-20220630 openmpi/4.0.7 modules/2.3-20240529 python/3.10.13 fio/3.36

source ~/python_environments/test_env_for_PyBenchFramework/bin/activate

#replace with the path to the root of the git repo
export PyBench_root_dir="/mnt/home/skrit/Documents/testing_clones/clone1/PyBenchFramework"
#export PyBench_log_dir="/mnt/home/skrit/Documents/testing_clones/clone1/tmp_logs"
export PyBench_fio_configs="/mnt/home/skrit/Documents/testing_clones/clone1/fio_YAML_configs"

#mdtest section
export PyBench_mdtest_configs="/mnt/home/skrit/Documents/testing_clones/clone1/mdtest_config"

export PATH=$PATH:/mnt/home/skrit/Documents/apps/io500/bin
module load openmpi/4.0.7
